body {
    margin: 0;
    padding: 0;
    min-height: 4096px;
}

footer {
    bottom: 0;
    height: 5vh;
    background-color: rgb(163, 163, 163);
    position: fixed;
    max-width: 100%;
    width: 100%;
}

.rouge {
    background-color: rgb(177, 0, 0);
}

.bleu {
    background-color: rgb(0, 71, 177);
}

.orange {
    background-color: rgb(211, 112, 0);
}

.vert {
    background-color: rgb(94, 177, 0);
}

.jaune {
    background-color: rgb(217, 221, 0);
}